* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

/* logo */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfiX:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.w {
    width: 1200px;
    margin: auto;
    border: 1px solid black;
}

body {
    height: 3000px;
    background-color: #f3f5f7;
}

header {
    width: 1180px;
    height: 100px;
    margin: 20px auto;
    border: 1px solid black;
}

nav {
    height: 50px;
    width: 1180px;
    margin: 20px auto;
    border: 1px solid black;
}

main {
    width: 1180px;
    height: 1080px;
    margin-left: 20px auto;
    border: 1px solid black;
}

article {
    float: left;
    width: 750px;
    height: 1000px;
    margin: 10px 20px;
    border: 1px solid black;
}

section {
    width: 710px;
    height: 200px;
    margin: 10px 20px;
    border: 1px solid black;
}

aside {
    float: left;
    margin: 10px 0px;
    width: 375px;
    height: 1000px;
    border: 1px solid black;
}

footer {
    margin: 20px auto;
    width: 1180px;
    height: 200px;
    border: 1px solid black;
}